.upload-excel-form-container{
     width: 80%;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgb(199, 194, 194);
   display: flex;
   height: 20vh;
   margin-top: 30px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   margin: auto;
   margin-top: 40px;
}